#sidebar, #sidebar-info {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    z-index: 2;
}

#sidebar-info {
    width: 40vw;
}

#sidebar-info img {
    aspect-ratio: 16 / 9;
}

#sidebar-info > div {
    padding: 20px 30px 20px 50px;
}

#sidebar-info a {
    position: absolute;
    margin: 15px 15px;
    color: var(--bg-color);
}

#sidebar-info a:hover {
    cursor: pointer;

}

#sidebar-search {
    margin: 20px;
    padding: 10px;
    background-color: var(--bg-color-hover);
    border: none;
    outline: none;
    border-radius: 8px;
}
