.canton-button {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    height: 125px;
    min-height: 120px;
    transition: all 0.1s ease-in;

    & img {
        transition: all 0.1s ease-in;
        aspect-ratio: 5 / 4;
        height: 90px;
        border-radius: 8px;
        margin-left: 20px;
        box-shadow: 0 0 20px 0 var(--shadow-color);
    }

    & h3 {
        margin: auto auto auto 20px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--bg-color-hover);

        & img {
            zoom: 105%;
            border-radius: 6px !important;
        }
    }

}
