#language-selector-wrapper {
    position: fixed;
    top: 20px;
    right: 30px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    & :last-child.language {
        border-radius: 0 0 8px 8px;
    }
}

#language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    background-color: var(--bg-color);
    border: 3px solid var(--border-color);
    transition: all 0.2s ease-in;

    z-index: 9999;
}


#language-selector img, .language img {
    margin-right: 15px;
}

#language-selector:hover, .language:hover {
    background-color: var(--bg-color-hover);

}

.language {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);

    & :hover {

        background-color: var(--bg-color-hover);
    }
}