#language-selector-wrapper {
    position: fixed;
    top: 20px;
    right: 30px;

    display: flex;
    flex-direction: column;
    border-radius: 8px;

    width: fit-content;
}

#language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    background-color: var(--bg-color);
    border: 3px solid var(--border-color);
    transition: all 0.2s ease-in;
    box-shadow: 0 0 20px 0 var(--shadow-color);

    z-index: 9999;

    &:hover, &:focus, &:active {
        background-color: var(--bg-color-hover);
    }

    & img {
        margin-right: 15px;
    }
}

#language-selector-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 var(--shadow-color);
    border-radius: 8px;
    transition: all 0.2s ease-in;


    & :first-child.language {
        border-radius: 8px 8px 0 0;
    }

    & :last-child.language {
        border-radius: 0 0 8px 8px;
    }
}

.language {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-evenly;

    &:hover, &:focus, &:active {
        background-color: var(--bg-color-hover);
    }

    & img {
        margin-right: 15px;
    }
}

@media (max-width: 768px){
    #language-selector-wrapper {
        & button img {
            width: 20px;
        }

        & img {
            margin-right: 10px;
        }

        & * {
            font-size: 9pt;
        }
    }
}

@media (max-width: 992px){
    #language-selector-wrapper {
        & button img {
            width: 20px;
        }

        & img {
            margin-right: 10px !important;
        }

        & * {
            font-size: 11pt;
        }
    }
}