#sidebar, #sidebar-info {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;

    box-shadow: 0 0 20px 0 var(--shadow-color);
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;

    z-index: 2;
    transition: all 0.25s ease-in-out;
    border-right: 1px solid var(--border-color);
}

@media (max-width: 800px) {
    #sidebar {
        width: 70vw !important;
    }

    #sidebar-info {
        width: 100vw !important;

        & .sidebar-return {
            color: var(--border-color) !important;
        }
    }
}

@media (max-width: 1020px) {
    #sidebar {
        width: 30vw !important;
    }
}

#sidebar-info {
    width: 40vw;
    overflow-y: scroll;

    & .sidebar-content {
        padding: 20px 30px 20px 50px;

        & img {
            border-radius: 8px;
        }
    }

    & #sidebar-info-header {
        aspect-ratio: 16 / 9;
        background-color: var(--bg-color-hover);
    }

    & a {
        color: var(--bg-color);
        font-weight: bold;
        margin-left: 10px;
        text-shadow:  0 0 20px 0 var(--shadow-color);
    }

    & .sidebar-return {
        display: flex;
        position: absolute;
        align-items: center;
        margin: 15px 15px;
        transition: all 0.1s ease-in;
        color: var(--bg-color);

        & picture {
            display: flex;
            align-items: center;
        }

        &:hover {
            cursor: pointer;
            transform: translateX(-6px);
            font-weight: bolder;
        }
    }
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    max-width: 200px;
    margin: 5px 0;

    & * {
        margin: 0;
    }

}

#sidebar-search {
    margin: 20px;
    padding: 10px;
    background-color: var(--bg-color-hover);
    border: none;
    outline: none;
    border-radius: 8px;
    font-family:FreeSans,'ST Allegra',Helvetica Neue,Helvetica,Noto Sans Kr,Hiragino Sans,メイリオ,meiryo,sans-serif;
}
